<% include ../layout/header.ejs %>
        <div class="banner-nav-2017">
        	<img src="<% for(i in ification){ %>
						<% if(ification[i]._id == ification_curr && !!ification[i].ification_banner){ %><%= ification[i].ification_banner %><% }else{ %>/images/banner-2-2017.png<% } %>
					<% } %>" style="display: block;width: 100%;">
        	<div>
        		<dl>
        			<dt><a href="javascript:;"><img src="/images/logo-2017.png"></a></dt>
        			<dd>
        				<a href="#" class="active">首页</a>
        				<a href="#">关于我们</a>
        				<a href="#">成功案例</a>
        				<a href="#">实用信息</a>
        				<span>13581810909</span>
        			</dd>
        		</dl>
        	</div>
        </div>
        
        <div class="in-list-0707">
        	<h2>相关分类</h2>
        	<div class="in-list-fl">
        		<ul>
        			<li>
        				<a href="#">
        					<img src="/images/banner-2-2017.png">
        					<div>
        						<h3>分类名称</h3>
        						<p>分类描述分类描述分类描述分类描述</p>
        					</div>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<img src="/images/banner-2-2017.png">
        					<div>
        						<h3>分类名称</h3>
        						<p>分类描述分类描述分类描述分类描述</p>
        					</div>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<img src="/images/banner-2-2017.png">
        					<div>
        						<h3>分类名称</h3>
        						<p>分类描述分类描述分类描述分类描述</p>
        					</div>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<img src="/images/banner-2-2017.png">
        					<div>
        						<h3>分类名称</h3>
        						<p>分类描述分类描述分类描述分类描述</p>
        					</div>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<img src="/images/banner-2-2017.png">
        					<div>
        						<h3>分类名称</h3>
        						<p>分类描述分类描述分类描述分类描述</p>
        					</div>
        				</a>
        			</li>
        			<li>
        				<a href="#">
        					<img src="/images/banner-2-2017.png">
        					<div>
        						<h3>分类名称</h3>
        						<p>分类描述分类描述分类描述分类描述</p>
        					</div>
        				</a>
        			</li>
        		</ul>
        	</div>
        	<a href="javascript:;" class="more">查看更多</a>
        </div>
        <div class="in-list-0707">
        	<h2>分类名称</h2>
        	<div class="in-list-wz">
        		<div class="left">
        			<div class="nav-top">
        				<a href="#" class="cur">成功案例</a>
        				<a href="#">实用信息</a>
        			</div>
        			<div class="about-cen">
        				<h2>关于信嘉 ABOUT FAITH</h2>
        				<p>成立以来,发展迅速,已经跨入中型律师行列.众多律师拥有国内外著名法学院的博士或硕士学位.在为客户提供服务的过程中,注重对律师进行规范化的培训......<a href="">[详细]</a></p>
        				<img src="/images/img-bg-6.jpg">
        			</div>
        			<div class="lx-bottom">
        				<h2>联系我们 ABOUT FAITH</h2>
        				<span><img src="/images/tel-0707.png">&nbsp; 13581810909</span>
        			</div>
        		</div>
        		<div class="right">
        			<ul>
        				<li>
        					<h3><a href="#"><span>[成功案例］</span>名为房屋买卖实为借款担保的认定</a></h3>
        					<p>2013年年底收房时发现，新房与《 商品房买卖合同 》户型图不符，原本室内家政间从9平方米缩小到了5平方米，李女士当场拒绝收房</p>
        				</li>
        				<li>
        					<h3><a href="#"><span>[成功案例］</span>名为房屋买卖实为借款担保的认定</a></h3>
        					<p>2013年年底收房时发现，新房与《 商品房买卖合同 》户型图不符，原本室内家政间从9平方米缩小到了5平方米，李女士当场拒绝收房</p>
        				</li>
        				<li>
        					<h3><a href="#"><span>[成功案例］</span>名为房屋买卖实为借款担保的认定</a></h3>
        					<p>2013年年底收房时发现，新房与《 商品房买卖合同 》户型图不符，原本室内家政间从9平方米缩小到了5平方米，李女士当场拒绝收房</p>
        				</li>
        				<li>
        					<h3><a href="#"><span>[成功案例］</span>名为房屋买卖实为借款担保的认定</a></h3>
        					<p>2013年年底收房时发现，新房与《 商品房买卖合同 》户型图不符，原本室内家政间从9平方米缩小到了5平方米，李女士当场拒绝收房</p>
        				</li>
        				<li>
        					<h3><a href="#"><span>[成功案例］</span>名为房屋买卖实为借款担保的认定</a></h3>
        					<p>2013年年底收房时发现，新房与《 商品房买卖合同 》户型图不符，原本室内家政间从9平方米缩小到了5平方米，李女士当场拒绝收房</p>
        				</li>
        			</ul>
        		</div>
        	</div>
        </div>
        
        
<% include ../layout/footer-right.ejs %>
<script>
	
</script>
<% include ../layout/footer.ejs %>