<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>后台管理-欢迎</title>
		<link rel="stylesheet" href="/BeginnerAdmin/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/BeginnerAdmin/css/main.css" />
	</head>

	<body>
		<div class="admin-main">
			<h1 style="font-size: 36px;margin-top: 50px;">欢迎登录</h1>
		</div>
	</body>

</html>