<% include ../layout/header.ejs %>
		<div class="beg-login-box">
			<header>
				<h1>后台登录</h1>
			</header>
			<div class="beg-login-main">
				<form action="/admin/login" class="layui-form" method="post">
					<div class="layui-form-item">
						<label class="beg-login-icon">
	                        <i class="layui-icon">&#xe612;</i>
	                    </label>
						<input type="text" name="userName" lay-verify="username" autocomplete="off" placeholder="这里输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" name="password" lay-verify="pass" autocomplete="off" placeholder="这里输入密码" class="layui-input">
					</div>
					<div class="layui-form-item">
						<div class="beg-pull-right">
							<button class="layui-btn layui-btn-primary" lay-submit lay-filter="login">
	                            <i class="layui-icon">&#xe650;</i> 登录
	                        </button>
						</div>
						<div class="beg-clear"></div>
					</div>
				</form>
			</div>
			<footer>
			</footer>
		</div>
		<script type="text/javascript" src="/BeginnerAdmin/plugins/layui/layui.js"></script>
		<script>
			layui.use(['layer', 'form'], function() {
				var layer = layui.layer,
					$ = layui.jquery,
					form = layui.form();
				form.verify({
				  	username: function(value, item){ 
				  		//value：表单的值、item：表单的DOM对象
					    if(!value){
					      return '用户名不能为空';
					    }
					    if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
					      return '用户名不能有特殊字符';
					    }
					    if(/(^\_)|(\__)|(\_+$)/.test(value)){
					      return '用户名首尾不能出现下划线\'_\'';
					    }
					    if(/^\d+\d+\d$/.test(value)){
					      return '用户名不能全为数字';
					    }
				  	}
				  	//我们既支持上述函数式的方式，也支持下述数组的形式
				  	//数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
				  	,pass: [
					    /^[\S]{6,12}$/
					    ,'密码必须6到12位，且不能出现空格'
				  	]
				});   	
				form.on('submit(login)',function(data){
					//data.field
					$.post('/admin/login', data.field, function(res){
						if(res.code == 200){
							location.href='index.html';
						}else{
							layer.msg('账号或密码错误！')
						}
					})
					return false;
				});
			});
		</script>
<% include ../layout/footer.ejs %>