<div class="footer">
	<!--<p>
		<span>友情链接：</span>
		<a href="">友情链接网</a>
		<a href="">友情链接网</a>
		<a href="">友情链接</a>
		<a href="">友情链接</a>
		<a href="">友情链接</a>
	</p>-->
	<p>电话：135 8181 0909 &nbsp;&nbsp; 邮箱：mengbo1209@163.com &nbsp;&nbsp;地址：北京市建国门外大街21号北京国际俱乐部138</p>
	<p>copyriht  2015京ICP备14023611号 京ICP证140523号</p>
</div>
<div class="toolbar">
    <div class="service" style="width: 50px;background: #00C1DE;">
    	<a target="_blank" href="javascript:;">
    		<i class="icon"></i>联系电话
		</a>
		<div>联系电话：13581810909</div>
	</div>
    <div class="wx-right-0626" style="background: #00C1DE;">
    	<a href="javascript:;">
    		<i class="icon"></i>微信二维码
		</a>
		<div style="padding: 10px;left: -176px;"><img src="/images/icon9.jpg"></div>
	</div>
    <div class="cart-right" style="background: #00C1DE;">
    	<a href="javascript:;">
    		<i class="icon"></i>预约地址
		</a>
		<div>预约地址：北京市建国门外大街21号北京国际俱乐部138</div>
	</div>
    <div class="top-right-0717 noshow alert-msg" style="background: #00C1DE;">
    	<a href="javascript:;">
    		<i class="icon"></i>留言咨询
		</a>
	</div>
    <div class="top-right-0626 backtop noshow" style="background: #00C1DE;">
    	<a href="javascript:;">
    		<i class="icon"></i>返回顶部
		</a>
	</div>
</div>
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/layui/lay/dest/layui.all.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/base.js"></script>
<script>
	var index_msg = null;
	$(function(){
		$('.backtop').click(function(){
		    $('html,body').stop().animate({scrollTop:0},420)
		})
		$('.toolbar>div').hover(function(){
			if(!$(this).hasClass('noshow')){
				$(this).children('div').show()
			}
		    $(this).stop().animate({
		        width: '138px'
		    }, 360)
		},function(){
			if(!$(this).hasClass('noshow')){
				$(this).children('div').hide()
			}
		    $(this).stop().animate({
		        width: '50px'
		    }, 360)
		})
		$('.alert-msg').click(function(){
			var index_msg = layer.open({
			  	type: 2,
			  	title: '留言咨询',
			  	shadeClose: true,
			  	shade: 0.8,
			  	area: ['580px', '400px'],
			  	content: '/index/messages' //iframe的url
			}); 
		})
	})
	function close_layer(info){
		layer.msg(info)
	}
</script>