<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
    	<link rel="shortcut icon" href="/images/favicon.ico">
		<meta name="keywords" content="信嘉法律，法律" />
		<meta name="description" content="信嘉法律咨询" />
		<!--所有页面加载-->
		<link rel="stylesheet" type="text/css" href="/js/layui/css/layui.css"/>
		<link rel="stylesheet" href="/css/indexMain.css">
	</head>
    <body>