<div>
	<dl>
		<dt><a href="/"><img src="/images/logo-2017.png"></a></dt>
		<dd>
			<a href="/" <% if(selected == 'index'){ %>class="active" <% } %>>首页</a>
			<a href="/index/about" <% if(selected == 'about'){ %>class="active" <% } %>>关于我们</a>
			<a href="/index/ification/1" <% if(selected == '1'){ %>class="active" <% } %>>成功案例</a>
			<a href="/index/ification/2" <% if(selected == '2'){ %>class="active" <% } %>>实用信息</a>
			<span>13581810909</span>
		</dd>
	</dl>
</div>